<!DOCTYPE html>
<html lang="en">
<head>
<style>
  body {
    margin: 50;
    padding: 50;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

.box {
    width: 500px;
    padding: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #191919;
    
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="box" >
                <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p> 
                    <%= f.text_field :email, class:'form-control', placeholder:"Email", required:"required" %> 
                    <%= f.password_field :password, class:'form-control', placeholder:"Password", required:"required" %>
                    <%= f.label :remember_me, class: "checkbox inline" do %>
                        <%= f.check_box :remember_me %>
                        <span>Remember me on this computer</span>
                       <% end %> 
                    <%= link_to "Forgot password?", '#' ,class:"forgot text-muted"%>
                    <%= f.submit "Log in", class: "btn btn-primary" %>
                    
                    <%end%>
                 </div>
              </div>
        </div>
    </div>
</div>

</body>
</html>