<% provide(:title, @post.title) %>
<div>
<div class="row">
  <section class="user_info">
       <h1>
         <%= @post.title %>
        </h1>
        <div>
        <%= @post.content %>
        </div>
 
  
    </section>
</div>
<div class="box" >
<hr style="height:1px;border-width:0;color:gray;background-color:gray">
          
  <% if !@post.comments.any? %>
    <div class="text-center">
      <h3> Be the first to comment </h3>
    </div>
  <% end %>    
  
  <%= render 'comments/form' %>
  <hr style="height:1px;border-width:0;color:gray;background-color:gray">
  <%= @post.comments.count %> Comments
  <%= render @post.comments %>
  
  
</div>
</div>

